<div class="row border">
    <div class="col" style="height: 750px;">
        <div class="border mx-auto mt-5" style="height: 400px; width: 300px;">
            Login Page
        </div>
    </div>
</div>


<div>
    <h2 class="text-center">Login Form</h2>
    <div>
        <label for="email">Enter your email:</label>
        <input type="text" id="email" v-model="email">
    </div>
    <div>
        <label for="pass">Enter your password:</label>
        <input type="password" id="pass" v-model="password">
    </div>
    <div>
        <button class="btn btn-primary" @click="loginUser">Login</button>
    </div>
</div>


<div v-for="for t in transaction" class="card">
    <div class="card-body">
        <h5 class="card-title">{{t.name}} <span class="badge text-white bg-secondary">{{t.type}}</span></h5>
        <p class="card-text">Created at: {{t.date}}</p>
        <p class="card-text">Delivery: {{t.delivery}}</p>
        <p class="card-text">About: {{t.description}}</p>
        <p class="card-text">From {{t.source}} to {{t.destination}}</p>
        <p class="card-text">Amount: {{t.amount}}</p>
    </div>
</div>



<div class="mb-3">
    <label for="name" class="form-label">Transaction Name</label>
    <input type="text" class="form-control" id="name" v-model="transData.name">
</div>
<div class="mb-3">
    <label for="type" class="form-label">Transaction Type</label>
    <input type="text" class="form-control" id="type" v-model="transData.type">
</div>
<div class="mb-3">
    <label for="source" class="form-label">Source City</label>
    <select class="form-select" aria-label="Default select example" v-model="transData.source">
        <option selected>Open this select menu</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Nagpur">Nagpur</option>
        <option value="Chennai">Chennai</option>
        <option value="Delhi">Delhi</option>
        <option value="Kolkata">Kolkata</option>
    </select>
</div>
<div class="mb-3">
    <label for="destination" class="form-label">Destination City</label>
    <select class="form-select" aria-label="Default select example" v-model="transData.source">
        <option selected>Open this select menu</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Nagpur">Nagpur</option>
        <option value="Chennai">Chennai</option>
        <option value="Delhi">Delhi</option>
        <option value="Kolkata">Kolkata</option>
    </select>
</div>
<div class="mb-3 text-end">
    <button class="btn btn-primary">Create+</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Package Name</th>
          <th scope="col">Source</th>
          <th scope="col">Destination</th>
          <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>{{t.id}}</tr>
        <tr>{{t.name}}</tr>
        <tr>{{t.source}}</tr>
        <tr>{{t.destination}}</tr>
        <tr>
            <button class="btn btn-info btn-sm">Review</button>
        </tr>
    </tbody>
</table>

<div class="mb-3">
    <p class="fs-3">Transaction Name</p>
    <p>{{t.name}}</p>
</div>
<div class="mb-3">
    <p class="fs-3">Transaction Type</p>
    <p>{{t.type}}</p>
</div>
<div class="mb-3">
    <p>{{t.source}}</p> to {{t.destination}}
</div>
<div class="mb-3">
    <label for="delivery" class="form-label">Delivery Date</label>
    <input type="date" class="form-control" id="delivery" v-model="t.delivery">
</div>
<div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="number" class="form-control" id="amount" v-model="t.amount">
</div>

